#AppHeader {
	top:              0;
	left:             0;
	position:         fixed;
	width:            100%;
	height:           2.3rem;
	padding:          0 0.5rem 0.7rem;
	color:            var(--font-color-light);
	background-color: var(--ui-header-color);
	box-shadow:       0 -1px 5px #000;
	z-index:          10;
	text-align:       center;
	user-select:      none;
}

#AppLogo {
	font-family:    var(--font-family-code);
	font-size:      2rem;
	font-weight:    bold;
	cursor:         default;
	vertical-align: baseline;
	position:       absolute;
	left:           0.5em;
	top:            0.1em;
}

#HeaderToolbarContainer {
	position:   relative;
	width:      calc(100% - 1em);
	height: 2rem;
	top:        0.5em;
	text-align: right;
}

#HeaderToolbarContainer > .toolbar {
	display:       inline-flex;
	border:        1px solid var(--ui-border-color-dark);
	margin:        0 0.5em;
	padding:       0;
	height:        2em;
	box-sizing:    border-box;
	align-items:   center;
	position:      relative;
	overflow:      hidden;
	border-radius: 0.25em;
}

.headerButton {
	text-align:          center;
	/*border: 1px solid #111;*/
	font-size:           1.75em;
	cursor:              pointer;
	position:            relative;
	width:               1.25em;
	height:              1.25em;
	display:             inline-flex;
	vertical-align:      middle;
	margin:              0;
	box-sizing:          border-box;
	justify-content:     center;
	align-items:         center;
	--outline-color:     #282828;
	text-shadow:         -1px 1px 2px var(--outline-color),
	                     1px 1px 2px var(--outline-color),
	                     1px -1px 2px var(--outline-color),
	                     -1px -1px 2px var(--outline-color);
	transition-property: text-shadow, background-color;
	transition-duration: 0.1s;
}

.headerButton:hover {
	background-color: #212631;
	--outline-color:  #222;
	text-shadow:      -1px 1px 4px var(--outline-color),
	                  1px 1px 4px var(--outline-color),
	                  1px -1px 4px var(--outline-color),
	                  -1px -1px 4px var(--outline-color);
}

#CompileToolbar {

}

#StepToolbar {
	filter:              saturate(0);
	opacity:             0.5;
	pointer-events:      none;
	transition-property: filter, opacity;
	transition-duration: 0.1s;
}

#StepToolbar.isStepping {
	filter:         saturate(1);
	opacity:        1;
	pointer-events: all;
}

#CompileButton {
	color:                   #66ee55;
	font-variation-settings: "FILL" 1,
	                         "wght" 400,
	                         "GRAD" -25,
	                         "opsz" 48;
}

#StepThroughButton {
	color: #66ee55;
}

#StepThroughButton > span {
	transform:      scale(0.75, 0.75);
	pointer-events: none;
}

#StepStopButton {
	color: #ee5555;
}

#StepResumeButton {
	color: #9a55ee;
}

#StepPauseButton {
	color:                   #eea955;
	font-variation-settings: "FILL" 1,
	                         "wght" 400,
	                         "GRAD" -25,
	                         "opsz" 40;
}

#StepForwardButton {
	color: #55c5ee;
}

#SettingsButton {
	color: #ccf;
}

#SettingsButton > span {
	transform:      scale(0.75, 0.75);
	pointer-events: none;
}