:root {
	--output-view-font-color:      #aaa;
	--output-view-font-size:       18pt;
	--output-view-font-size-large: calc(var(--output-view-font-size) * 1.5);
	--output-view-font-size-small: calc(var(--output-view-font-size) * 0.75);
	--output-view-height:          17rem;

	--output-view-header-height:   1.5em;
}

#OutputView {
	width:               100%;
	height:              var(--output-view-height);
	display:             block;
	position:            fixed;
	bottom:              0;
	left:                0;
	background-color:    var(--bg-color-light);
	color:               var(--font-color-medium);
	font-size: var(--output-view-font-size);
	box-sizing:          border-box;
	padding:             0;
	margin:              0;
	box-shadow:          0 0 0.5rem #0006;
	transition-property: height;
	transition-duration: 0.2s;
}

#OutputView.collapsed {
	transition-property: height;
	height:              var(--output-view-header-height);
}

#OutputViewHeader {
	user-select:      none;
	display:          block;
	position:         relative;
	top:              0;
	background-color: var(--ui-header-color);
	width:            100%;
	font-size: var(--ui-font-size-small);
	padding:          0.5rem 0 0.5rem 1rem;
	box-shadow:       var(--ui-box-shadow);
	height:           var(--output-view-header-height);
}

#OutputViewHeaderTitle {
	width:          100%;
	text-align:     center;
	display:        inline-block;
	height:         0;
	pointer-events: none;
}

#OutputViewToggle {
	display:             inline-block;
	position:            absolute;
	right:               1.25em;
	width:               1.5em;
	height:              1.5em;
	text-align:          center;
	border-radius:       var(--ui-border-radius-small);
	font-weight:         bold;
	cursor:              pointer;
	transform:           scaleX(1);
	transition-duration: 0.1s;
	transition-property: background-color;
}

#OutputViewToggle:hover {
	background-color: var(--ui-button-hover-color);
}

#OutputViewContent {
	width:       100%;
	height:      100%;
	font-family: var(--font-family-code);
}

#OutputViewConsole {
	display:          inline-block;
	width:            33%;
	height:           calc(calc(var(--output-view-height) - var(--output-view-header-height)) + 0.2rem);
	position:         absolute;
	left:             67%;
	box-shadow:       inset 0 1px 5px #00000088;
	background-color: var(--bg-color-medium);
	box-sizing:       border-box;
	text-overflow:    ellipsis;
	word-break:       break-all;
	padding:          0;
}

#OutputViewConsole > textarea {
	background-color: transparent;
	padding:          0.5rem 1rem;
	border:           none;
	resize:           none;
	width:            100%;
	height:           100%;
	overflow-y:       scroll;
	color:            var(--font-color-medium);
	font-size: var(--output-view-font-size);
	font-family:      var(--font-family-code);
	box-sizing:       border-box;
	margin:           0;
	word-wrap:        break-word;
	white-space:      break-spaces;
	word-break:       break-all;
}

#OutputViewConsole > textarea.error {
	height: calc(100% - 3em);
}

#OutputViewConsoleError {
	display:          block;
	position:         relative;
	bottom:           0;
	background-color: #800;
	color:            #fff;
	font-weight:      700;
	padding:          0.1em 0.25em;
	font-size: var(--output-view-font-size);
	height:           4em;
	box-sizing:       border-box;
}

#OutputViewMemory {
	display:    inline-block;
	width:      67%;
	overflow-y: scroll;
	box-sizing: border-box;
	padding:    0.2em;
	height:     calc(calc(var(--output-view-height) - var(--output-view-header-height)) + 0.2rem);
}

.memCell {
	display:                inline-block;
	width:                  3em;
	height: 3.375em;
	position:               relative;
	border:                 2px solid var(--ui-border-color-medium);
	border-radius:          0.25em;
	margin:                 0.1em 0.2em;
	vertical-align:         center;
	overflow:               hidden;
	content-visibility:     auto;
	contain-intrinsic-size: 1px 3rem;
}

.currentCell {
	background-color: #69f4;
	border:           2px solid #657fa6;
}

.currentCell > span {
	color: #ccc;
}

.memCell-content {
	display:    block;
	position:   absolute;
	width:      100%;
	margin:     0;
	text-align: center;
	box-sizing: border-box;
	height:     1.33em;
	color:      #999;
}

.memCell-label {
	background-color: #3338;
	border-bottom:    1px solid #666;
	font-size: var(--output-view-font-size-small);
}

.memCell-int {
	top: calc(var(--output-view-font-size-small) * 1.25);
	padding-top:    0.07em;
	vertical-align: center;
	color:          var(--output-view-font-color);
}

.memCell-char {
	bottom:           0;
	padding-top:      0.07em;
	background-color: #2224;
	border-top:       1px solid #666;
	font-size: var(--output-view-font-size-small);
}